@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/** Botón de subida */
.button {
    width: 5em;
    height: 2em;
    border-radius: 8px;
    border: 0.15em solid rgb(42, 157, 143);
    color: rgb(42, 157, 143);
    transition: all 0.5s ease;
    background: transparent;
    transition: width 0.4s ease;
}

.button .text {
    display: none
}

.button:hover>.text {
    display: block;
}

.button:hover>svg {
    display: none;
}

.button:hover {
    width: 120px;

    background-color: rgb(42, 157, 143);
    color: #ededed
}

.button svg {
    width: 1.5em;
}

.text {
    font-family: 'Agdasima';
}

/** Botón de descarga*/
.Btn {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}

.svgIcon {
    fill: rgb(42, 157, 143);
}

.icon2 {
    width: 11px;
    height: 4px;
    border-bottom: 2px solid rgb(42, 157, 143);
    border-left: 2px solid rgb(42, 157, 143);
    border-right: 2px solid rgb(42, 157, 143);
}

.Btn:hover {
    background-color: rgb(42, 157, 143);
    transition-duration: .3s;
}

.Btn:hover .icon2 {
    border-bottom: 2px solid rgb(235, 235, 235);
    border-left: 2px solid rgb(235, 235, 235);
    border-right: 2px solid rgb(235, 235, 235);
}

.Btn:hover .svgIcon {
    fill: rgb(255, 255, 255);
    animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/** Tabla **/
.head {
    font-family: 'Kanit';
    font-size: 14pt;
}

.head th {
    background: transparent;
    color: #404040;
    border-bottom: 2px solid #a8a8a8;
}

.body {
    font-family: 'Agdasima';
    font-size: 12pt;
}

.body td {
    background: transparent;
}

.select-row {
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/** Botón ver */
.btn-view {
    font-size: 12pt;
    text-decoration: none;
    color: #a8a8a8;
}

.btn-view:hover {
    color: #404040;
    border-bottom: 2px solid #a8a8a8;
}

.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 2px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
    position: relative;
    overflow: hidden;
}

.bin-bottom {
    width: 10px;
    z-index: 2;
}

.bin-top {
    width: 11px;
    transform-origin: right;
    transition-duration: 0.3s;
    z-index: 2;
}

.bin-button:hover .bin-top {
    transform: rotate(45deg);
}

.bin-button:hover {
    background-color: rgb(255, 0, 0);
}

.bin-button:active {
    transform: scale(0.9);
}

.garbage {
    position: absolute;
    width: 14px;
    height: auto;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
}

.bin-button:hover .garbage {
    animation: throw 0.4s linear;
}

@keyframes throw {
    from {
        transform: translate(-400%, -700%);
        opacity: 0;
    }

    to {
        transform: translate(0%, 0%);
        opacity: 1;
    }
}