@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
    font-family: 'Kanit';
    font-size: 14pt;
}

.header th {
    background: transparent;
    color: #404040;
    border-bottom: 2px solid #a8a8a8;
}

.body {
    font-family: 'Agdasima';
    font-size: 12pt;
}

.body td {
    background: transparent;
}

.btn {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Agdasima';
    font-size: 14pt;
    color: #2a9d8f;
    background: transparent;
    transition: width 0.4s ease;
    overflow: hidden;
    border: none;
}

.btn:hover {
    width: 8rem;
    justify-content: left;
    border: 1px solid #2a9d8f;
    background: #2a9d8f;
    color: #fff;
    gap: 0.5rem;
    border-radius: 3px;
    box-shadow: 4px 2px 2px #a8a8a8;
}

.btn:hover::after {
    content: "Nuevo ticket";
}