@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/** Formulario */
.select {
    font-family: 'Agdasima';
    font-size: 14pt;
    color: black;
    border: none;
    background: transparent;
    border-bottom: 2px solid #2a9d8f;
}

.select:focus {
    background: transparent;
    box-shadow: 0 0 5px rgb(0,180,216);
    outline: none;
}

.input {
    font-family: 'Agdasima';
    font-size: 14pt;
    color: black;
    border: none;
    background: transparent;
    border-bottom: 2px solid #2a9d8f;
}

.input:focus {
    background: transparent;
    box-shadow: 0 0 5px rgb(0,180,216);
    outline: none;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.body span {
    font-family: 'Agdasima';
    background: transparent;
    border: none;
    border-bottom: 2px solid #2a9d8f;
}

.body label{
    font-family: 'Agdasima';
    font-size: 14pt;
    font-weight: bold;
}

.text-area {
    overflow-y: auto;
    width: 100%;
    height: 70px;
    resize: none;
    font-family: 'Agdasima';
    font-size: 14pt;
    color: black;
    border: none;
    background: transparent;
    border-bottom: 2px solid #2a9d8f;
}

.text-area:focus {
    background: transparent;
    box-shadow: 0 0 5px rgb(0,180,216);
}

.btn-submit {
    border-radius: 10%;
    background: #2a9d8f;
    font-size: 16pt;
    font-family: 'Agdasima';
    color: #ededed;
    border: none;
    width: 80px;
    transition: width 0.4s ease;
}

.btn-submit:hover {
    width: 100px;
}