@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.circle:hover {
    transform: scale(1.2);
}

/** Inputs */
.input {
    border: 0;
    width: 100%;
    background: transparent;
    font-family: 'Agdasima';
    font-size: 14pt;
    color: black;
    border-bottom: 2px solid #2a9d8f;
}

.input:disabled {
    background: transparent;
}

.body {
    background: #f8f9fa;
}

.body p {
    font-family: 'Kanit';
}

.btn-exit {
    border-radius: 10%;
    background: #404040;
    font-size: 16pt;
    font-family: 'Agdasima';
    color: #ededed;
    border: none;
    width: 80px;
    transition: width 0.4s ease;
}

.btn-exit:hover {
    width: 100px;
}