@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-card {
    background: #ededed;
    width: 35rem;
}

.header span{
    font-family: 'Kanit';
    font-weight: bold;
    font-size: 20pt;
    color: #002b5b;
}

.title {
    font-family: 'Kanit';
    font-weight: bold;
    color: #002b5b;
    font-size: 14pt;
}

.item {
    font-family: 'Agdasima';
    background: transparent;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #2a9d8f;
}

.input {
    font-family: 'Agdasima';
    color: #404040;
    border: none;
    border-bottom: 2px solid #2a9d8f;
}