@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/** input search */
.group {
    position: relative;
    height: auto;
}

.input {
    font-size: 16pt;
    font-family: 'Agdasima';
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    height: 15px;
    border: none;
    background: transparent;
}

.input:focus {
    outline: none;
}

.place-holder {
    color: #00b4d8;
    font-family: 'Agdasima';
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 0.5px;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    transition: all 0.2s ease;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #0d6efd;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/** Card-container */
.card-container {
    width: 25rem;
    background: transparent;
    border: none;
}

/** table */
.head-table {
    font-family: 'Kanit';
    font-size: 14pt;
}

.head-table th {
    background: transparent;
    color: #404040;
    border-bottom: 2px solid #a8a8a8;
}

.table-body {
    font-family: 'Agdasima';
    font-size: 12pt;
}

.table-body td {
    background: transparent;
}

.selected-row {
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.selected-row:hover {
    transform: scale(1.1);
}

/** card-header */
.header {
    height: 50px;
    border: none;
    border-bottom: 2px solid #2a9d8f;
}

.title {
    font-size: 15pt;
    font-weight: bold;
    font-family: 'Kanit';
    color: #002b5b;
}