@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.circle:hover {
    transform: scale(1.2);
}

/** Inputs */
.input {
    border: 0;
    width: 100%;
    background: none;
    font-family: 'Agdasima';
    color: black;
    font-size: 14pt;
    border-bottom: 2px solid #2a9d8f;
}

.input:disabled {
    background: transparent;
}

.textarea {
    overflow-y: auto;
}

/** card */
.container-card {
    height: 10rem;
    width: 35rem;
    background: transparent;
    border: 1px solid #ededed
}

.title {
    font-family: 'Kanit';
    font-size: 16pt;
    color: #002b5b;
}

.body p{
    font-family: 'Agdasima';
    font-size: 14pt;
    color: #404040;
}

.textarea {
    overflow-y: auto;
    width: 100%;
    height: 70px;
    resize: none;
    font-family: 'Agdasima';
    font-size: 14pt;
    color: black;
    border: none;
    background: transparent;
    border-bottom: 2px solid #2a9d8f;
}

.textarea:disabled {
    background: transparent;
}