body {
  background-color: #F8F9FA;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select:none;
  user-select: none;
}

.content {
  margin-left: 80px; /* Igual al ancho máximo del navbar en hover */
  transition: margin-left 0.4s ease;
}