@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-menu {
    background: #ededed;
    width: 60px;
    transition: width 0.4s ease;
    float: left;
    overflow: hidden;
}

.main-menu:hover {
    width: 190px;
}

.title {
    font-family: 'Kanit';
    font-weight: bold;
    color: #002b5b;
    display: none;
    opacity: 0;
    transition: display 0.4s ease;
    transition: opacity 0.4s ease;
}

.main-menu:hover .title {
    display: inline;
    opacity: 1;
}

.item-link {
    transition: transform 0.4s ease;
}

.item-link:hover {
    transform: scale(1.1);
    transform: translateY(-10px);
}

.item-link i {
    color: #002b5b;
}

.item-link .item-title{
    font-family: 'Kanit';
    font-weight: bold;
    color: #002b5b;
    display: none;
    opacity: 0;
    transition: display 0.4s ease;
    transition: opacity 0.4s ease;
}

.main-menu:hover .item-link .item-title {
    display: inline;
    opacity: 1;
}

.sub-menu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-30px);
    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

.sub-menu a {
    font-family: 'Agdasima';
    color: #404040;
    font-weight: bold;
}

.sub-menu a:hover {
    color: #2a9d8f;
}

.sub-menu li {
    color: #6C757D;
    transform: translateX(-20px);
    transition: transform 0.4s ease;
}

.sub-menu li:hover {
    transform: translateX(10px);
    transform: scale(1.1);
}

.item:focus-within .sub-menu,
.item:hover .sub-menu {
    max-height: 400px;
    opacity: 1;
    transform: translateY(0);
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.border-div {
    border: none;
    border-top: 2px solid #002b5b;
}

.content { /* Margen inicial cuando el navbar está colapsado */
    transition: margin-left 0.4s ease; /* Sincroniza la transición con el navbar */
}

.main-menu:hover ~ .content {
    margin-left: 200px;
    display: flex; /* Ajusta el contenido cuando el navbar se expande */
}

.header-content i {
  margin-left: 10px; /* Para mover solo el ícono */
}